/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16-Mar-2025, 23:30:22
    Author     : baothy2004
*/

body {
    font-family: Arial, sans-serif;
    text-align: center;
}
form {
    width: 300px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
}
button {
    width: 100%;
    padding: 10px;
    background-color: blue;
    color: white;
    border: none;
}
